{
    "swagger": "2.0",
    "info": {
      "description": "Nordea Dynamic Sandbox Accounts API v3",
      "version": "3.0",
      "title": "Dynamic Sandbox Accounts API",
      "contact": {
        "name": "Open Banking team",
        "url": "https://nordeaopenbanking.com",
        "email": "support@nordeaopenbanking.com"
      },
      "license": {
        "name": "Apache 2.0",
        "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
      },
      "x-ibm-name": "dynamic-sandbox-v3",
      "x-version": "3.0"
    },
    "host": "api.nordeaopenbanking.com",
    "basePath": "/",
    "tags": [
      {
        "name": "Dynamic Sandbox Api",
        "description": "Dynamic Sandbox Api allows to modify sandbox data"
      }
    ],
    "paths": {
      "/v3/accounts": {
        "post": {
          "tags": [
            "Dynamic Sandbox Api"
          ],
          "summary": "Create account",
          "operationId": "createAccountUsingPOST",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "X-IBM-Client-Id",
              "in": "header",
              "description": "Id of the Client",
              "required": true,
              "type": "string"
            },
            {
              "name": "X-IBM-Client-Secret",
              "in": "header",
              "description": "Secret password generated for the Client",
              "required": true,
              "type": "string"
            },
            {
              "name": "X-Nordea-Originating-User-Agent",
              "in": "header",
              "description": "End user (i.e. PSU) agent information, to be provided if TPP is in session with the PSU",
              "required": false,
              "type": "string"
            },
            {
              "name": "X-Nordea-Originating-User-Ip",
              "in": "header",
              "description": "End user (i.e. PSU) IP address, to be provided if TPP is in session with the PSU",
              "required": false,
              "type": "string"
            },
            {
              "in": "body",
              "name": "request",
              "description": "Create new sandbox account payload",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreateAccountRequest"
              },
              "x-availabilityInfo": "V3 will be deprecated as it does not support QSealC. Please use V4",
              "x-availabilityStatus": "Sandbox Only - Deprecated",
              "x-deprecationInfo": "V4 will be available by Q3 2019",
              "x-removalInfo": "V3 support will be completely removed by March 2020"
            }
          ],
          "responses": {
            "201": {
              "description": "Successful created account",
              "schema": {
                "$ref": "#/definitions/AccountDetailsResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            },
            "401": {
              "description": "Unauthorized with failure code:\n* error.apikey.missing = Missing API key. This operation requires API key, but it was missing.\n* error.token = Unspecified error with supplied token.\n* error.token.invalid = Missing access token or token did not authorized requested operation. This operation requires valid access token, but it was missing.\n* error.token.expired = Access token has expired.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            },
            "403": {
              "description": "Forbidden with failure code:\n* error.resource.denied = Requested resource is not authorized by access token.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            },
            "404": {
              "description": "Resource not found",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          },
          "security": [
            {
              "OAuth2": [
                "ACCOUNTS_BASIC",
                "ACCOUNTS_BALANCES",
                "ACCOUNTS_DETAILS",
                "ACCOUNTS_TRANSACTIONS",
                "PAYMENTS_MULTIPLE"
              ],
              "DecoupledAuth": [
                "ACCOUNTS_BASIC",
                "ACCOUNTS_BALANCES",
                "ACCOUNTS_DETAILS",
                "ACCOUNTS_TRANSACTIONS",
                "PAYMENTS_MULTIPLE"
              ]
            },
            {
              "ClientId": [
  
              ]
            },
            {
              "ClientSecret": [
  
              ]
            }
          ],
          "deprecated": true,
          "x-availabilityInfo": "V3 will be deprecated as it does not support QSealC. Please use V4",
          "x-availabilityStatus": "Sandbox Only - Deprecated",
          "x-deprecationInfo": "V4 will be available by Q3 2019",
          "x-removalInfo": "V3 support will be completely removed by March 2020"
        }
      },
      "/v3/accounts/{id}": {
        "delete": {
          "tags": [
            "Dynamic Sandbox Api"
          ],
          "summary": "Delete account",
          "operationId": "deleteUserDefinedAccountUsingDELETE",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "X-IBM-Client-Id",
              "in": "header",
              "description": "Id of the Client",
              "required": true,
              "type": "string"
            },
            {
              "name": "X-IBM-Client-Secret",
              "in": "header",
              "description": "Secret password generated for the Client",
              "required": true,
              "type": "string"
            },
            {
              "name": "X-Nordea-Originating-User-Agent",
              "in": "header",
              "description": "End user (i.e. PSU) agent information, to be provided if TPP is in session with the PSU",
              "required": false,
              "type": "string"
            },
            {
              "name": "X-Nordea-Originating-User-Ip",
              "in": "header",
              "description": "End user (i.e. PSU) IP address, to be provided if TPP is in session with the PSU",
              "required": false,
              "type": "string"
            },
            {
              "name": "id",
              "in": "path",
              "description": "Internal, technical account identifier",
              "required": true,
              "type": "string",
              "x-availabilityInfo": "V3 will be deprecated as it does not support QSealC. Please use V4",
              "x-availabilityStatus": "Sandbox Only - Deprecated",
              "x-deprecationInfo": "V4 will be available by Q3 2019",
              "x-removalInfo": "V3 support will be completely removed by March 2020"
            }
          ],
          "responses": {
            "204": {
              "description": "Successful deleted account"
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            },
            "401": {
              "description": "Unauthorized with failure code:\n* error.apikey.missing = Missing API key. This operation requires API key, but it was missing.\n* error.token = Unspecified error with supplied token.\n* error.token.invalid = Missing access token or token did not authorized requested operation. This operation requires valid access token, but it was missing.\n* error.token.expired = Access token has expired.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            },
            "403": {
              "description": "Forbidden with failure code:\n* error.resource.denied = Requested resource is not authorized by access token.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          },
          "security": [
            {
              "OAuth2": [
                "ACCOUNTS_BASIC",
                "ACCOUNTS_BALANCES",
                "ACCOUNTS_DETAILS",
                "ACCOUNTS_TRANSACTIONS",
                "PAYMENTS_MULTIPLE"
              ],
              "DecoupledAuth": [
                "ACCOUNTS_BASIC",
                "ACCOUNTS_BALANCES",
                "ACCOUNTS_DETAILS",
                "ACCOUNTS_TRANSACTIONS",
                "PAYMENTS_MULTIPLE"
              ]
            },
            {
              "ClientId": [
  
              ]
            },
            {
              "ClientSecret": [
  
              ]
            }
          ],
          "deprecated": true,
          "x-availabilityInfo": "V3 will be deprecated as it does not support QSealC. Please use V4",
          "x-availabilityStatus": "Sandbox Only - Deprecated",
          "x-deprecationInfo": "V4 will be available by Q3 2019",
          "x-removalInfo": "V3 support will be completely removed by March 2020"
        }
      },
      "/v3/accounts/{id}/transactions": {
        "post": {
          "tags": [
            "Dynamic Sandbox Api"
          ],
          "summary": "Create transaction",
          "operationId": "createTransactionUsingPOST",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "X-IBM-Client-Id",
              "in": "header",
              "description": "Id of the Client",
              "required": true,
              "type": "string"
            },
            {
              "name": "X-IBM-Client-Secret",
              "in": "header",
              "description": "Secret password generated for the Client",
              "required": true,
              "type": "string"
            },
            {
              "name": "X-Nordea-Originating-User-Agent",
              "in": "header",
              "description": "End user (i.e. PSU) agent information, to be provided if TPP is in session with the PSU",
              "required": false,
              "type": "string"
            },
            {
              "name": "X-Nordea-Originating-User-Ip",
              "in": "header",
              "description": "End user (i.e. PSU) IP address, to be provided if TPP is in session with the PSU",
              "required": false,
              "type": "string"
            },
            {
              "name": "id",
              "in": "path",
              "description": "Internal, technical account identifier",
              "required": true,
              "type": "string",
              "x-availabilityInfo": "V3 will be deprecated as it does not support QSealC. Please use V4",
              "x-availabilityStatus": "Sandbox Only - Deprecated",
              "x-deprecationInfo": "V4 will be available by Q3 2019",
              "x-removalInfo": "V3 support will be completely removed by March 2020"
            },
            {
              "in": "body",
              "name": "request",
              "description": "Create new sandbox transaction payload",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreateTransactionRequest"
              },
              "x-availabilityInfo": "V3 will be deprecated as it does not support QSealC. Please use V4",
              "x-availabilityStatus": "Sandbox Only - Deprecated",
              "x-deprecationInfo": "V4 will be available by Q3 2019",
              "x-removalInfo": "V3 support will be completely removed by March 2020"
            }
          ],
          "responses": {
            "201": {
              "description": "Successful created transaction"
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            },
            "401": {
              "description": "Unauthorized with failure code:\n* error.apikey.missing = Missing API key. This operation requires API key, but it was missing.\n* error.token = Unspecified error with supplied token.\n* error.token.invalid = Missing access token or token did not authorized requested operation. This operation requires valid access token, but it was missing.\n* error.token.expired = Access token has expired.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            },
            "403": {
              "description": "Forbidden with failure code:\n* error.resource.denied = Requested resource is not authorized by access token.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            },
            "404": {
              "description": "Resource not found",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          },
          "security": [
            {
              "OAuth2": [
                "ACCOUNTS_BASIC",
                "ACCOUNTS_BALANCES",
                "ACCOUNTS_DETAILS",
                "ACCOUNTS_TRANSACTIONS",
                "PAYMENTS_MULTIPLE"
              ],
              "DecoupledAuth": [
                "ACCOUNTS_BASIC",
                "ACCOUNTS_BALANCES",
                "ACCOUNTS_DETAILS",
                "ACCOUNTS_TRANSACTIONS",
                "PAYMENTS_MULTIPLE"
              ]
            },
            {
              "ClientId": [
  
              ]
            },
            {
              "ClientSecret": [
  
              ]
            }
          ],
          "deprecated": true,
          "x-availabilityInfo": "V3 will be deprecated as it does not support QSealC. Please use V4",
          "x-availabilityStatus": "Sandbox Only - Deprecated",
          "x-deprecationInfo": "V4 will be available by Q3 2019",
          "x-removalInfo": "V3 support will be completely removed by March 2020"
        }
      }
    },
    "securityDefinitions": {
      "ClientId": {
        "type": "apiKey",
        "name": "X-IBM-Client-Id",
        "in": "header"
      },
      "ClientSecret": {
        "type": "apiKey",
        "name": "X-IBM-Client-Secret",
        "in": "header"
      },
      "DecoupledAuth": {
        "type": "oauth2",
        "authorizationUrl": "/v3/authorize-decoupled",
        "tokenUrl": "/v3/authorize-decoupled/token",
        "flow": "accessCode",
        "scopes": {
          "ACCOUNTS_BASIC": "Account information",
          "ACCOUNTS_BALANCES": "Account information with balances",
          "ACCOUNTS_DETAILS": "Account information with details",
          "ACCOUNTS_TRANSACTIONS": "Account's transactions",
          "PAYMENTS_MULTIPLE": "Payments Multiple"
        },
        "x-authSubType": "decoupled-auth",
        "x-codeStatusDescription": "Returns code when authorization second step is finished",
        "x-codeStatusUrl": "/v3/authorize-decoupled"
      },
      "OAuth2": {
        "type": "oauth2",
        "authorizationUrl": "/v3/authorize",
        "tokenUrl": "/v3/authorize/token",
        "flow": "accessCode",
        "scopes": {
          "ACCOUNTS_BASIC": "Account information",
          "ACCOUNTS_BALANCES": "Account information with balances",
          "ACCOUNTS_DETAILS": "Account information with details",
          "ACCOUNTS_TRANSACTIONS": "Account's transactions",
          "PAYMENTS_MULTIPLE": "Payments Multiple"
        }
      }
    },
    "definitions": {
      "AccountDetails": {
        "type": "object",
        "required": [
          "_id",
          "account_name",
          "account_numbers",
          "account_type",
          "available_balance",
          "bank",
          "booked_balance",
          "currency",
          "product",
          "status"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "Internal, technical account identifier",
            "x-accessScopes": [
              "ACCOUNTS_BASIC"
            ],
            "x-availabilityStatus": "Stable"
          },
          "_links": {
            "type": "array",
            "description": "HATEOAS inspired links: 'rel' and 'href'",
            "items": {
              "$ref": "#/definitions/Link"
            },
            "x-availabilityStatus": "Stable"
          },
          "account_name": {
            "type": "string",
            "description": "Account name",
            "x-accessScopes": [
              "ACCOUNTS_DETAILS"
            ],
            "x-availabilityStatus": "Stable"
          },
          "account_numbers": {
            "type": "array",
            "description": "Account numbers",
            "items": {
              "$ref": "#/definitions/AccountNumber"
            },
            "x-accessScopes": [
              "ACCOUNTS_BASIC"
            ],
            "x-availabilityStatus": "Stable"
          },
          "account_type": {
            "type": "string",
            "description": "Account type",
            "enum": [
              "Current",
              "Savings"
            ],
            "x-accessScopes": [
              "ACCOUNTS_DETAILS"
            ],
            "x-availabilityStatus": "Stable"
          },
          "available_balance": {
            "type": "number",
            "description": "Available balance indicates the funds which are available to the account holder at the time of the query",
            "x-accessScopes": [
              "ACCOUNTS_BALANCES"
            ],
            "x-availabilityStatus": "Stable"
          },
          "bank": {
            "description": "Details of bank servicing account",
            "$ref": "#/definitions/BankInfo",
            "x-accessScopes": [
              "ACCOUNTS_DETAILS"
            ],
            "x-availabilityStatus": "Stable"
          },
          "booked_balance": {
            "type": "number",
            "description": "Booked balance includes all transactions entered on the account at the time of the query",
            "x-accessScopes": [
              "ACCOUNTS_BALANCES"
            ],
            "x-availabilityStatus": "Stable"
          },
          "country": {
            "type": "string",
            "description": "Country code where the account is held according to ISO ALPHA-2",
            "enum": [
              "FI",
              "SE",
              "DK",
              "NO"
            ],
            "x-accessScopes": [
              "ACCOUNTS_DETAILS"
            ],
            "x-availabilityStatus": "Stable"
          },
          "credit_limit": {
            "type": "number",
            "description": "Amount of credit extended to account holder beyond account booked balance",
            "x-accessScopes": [
              "ACCOUNTS_DETAILS"
            ],
            "x-availabilityStatus": "Stable"
          },
          "currency": {
            "type": "string",
            "description": "Currency code according to ISO 4217",
            "x-accessScopes": [
              "ACCOUNTS_BASIC"
            ],
            "x-availabilityStatus": "Stable"
          },
          "latest_transaction_booking_date": {
            "type": "string",
            "format": "date",
            "description": "Date of last transaction booked to the account",
            "x-accessScopes": [
              "ACCOUNTS_DETAILS"
            ],
            "x-availabilityStatus": "Stable"
          },
          "product": {
            "type": "string",
            "description": "Name of the banking product delivered by this account",
            "x-accessScopes": [
              "ACCOUNTS_DETAILS"
            ],
            "x-availabilityStatus": "Stable"
          },
          "status": {
            "type": "string",
            "description": "Status of account",
            "enum": [
              "OPEN",
              "CLOSED"
            ],
            "x-accessScopes": [
              "ACCOUNTS_DETAILS"
            ],
            "x-availabilityStatus": "Stable"
          },
          "value_dated_balance": {
            "type": "number",
            "description": "Value dated balance is the balance on the basis of which interest is calculated on the account",
            "x-accessScopes": [
              "ACCOUNTS_BALANCES"
            ],
            "x-availabilityStatus": "Stable"
          }
        },
        "title": "AccountDetails",
        "description": "Detailed account information"
      },
      "AccountDetailsResponse": {
        "type": "object",
        "properties": {
          "group_header": {
            "description": "Standard format response header",
            "$ref": "#/definitions/ResponseHeader",
            "x-availabilityStatus": "Stable"
          },
          "response": {
            "description": "Payload",
            "$ref": "#/definitions/AccountDetails",
            "x-availabilityStatus": "Stable"
          }
        },
        "title": "AccountDetailsResponse",
        "description": "Account details response"
      },
      "AccountNumber": {
        "type": "object",
        "required": [
          "_type",
          "value"
        ],
        "properties": {
          "_type": {
            "type": "string",
            "description": "Type of account number",
            "enum": [
              "IBAN",
              "BBAN_NO",
              "BBAN_SE",
              "BBAN_DK"
            ],
            "x-accessScopes": [
              "ACCOUNTS_BASIC"
            ],
            "x-availabilityStatus": "Stable"
          },
          "value": {
            "type": "string",
            "example": "FI1350001520000081",
            "description": "Actual account number",
            "x-accessScopes": [
              "ACCOUNTS_BASIC"
            ],
            "x-availabilityStatus": "Stable"
          }
        },
        "title": "AccountNumber",
        "description": "Account number"
      },
      "BankInfo": {
        "type": "object",
        "required": [
          "bic",
          "country",
          "name"
        ],
        "properties": {
          "bic": {
            "type": "string",
            "description": "Business Identifier Code of account servicing institution according to ISO 9362.",
            "enum": [
              "NDEAFIHH",
              "NDEASESS",
              "NDEADKKK",
              "NDEANOKK"
            ],
            "x-accessScopes": [
              "ACCOUNTS_DETAILS"
            ],
            "x-availabilityStatus": "Stable"
          },
          "country": {
            "type": "string",
            "description": "Country code according to ISO Alpha-2",
            "enum": [
              "FI",
              "SE",
              "DK",
              "NO"
            ],
            "x-accessScopes": [
              "ACCOUNTS_DETAILS"
            ],
            "x-availabilityStatus": "Stable"
          },
          "name": {
            "type": "string",
            "description": "Nordea",
            "x-accessScopes": [
              "ACCOUNTS_DETAILS"
            ],
            "x-availabilityStatus": "Stable"
          }
        },
        "title": "BankInfo",
        "description": "Bank information"
      },
      "CreateAccountRequest": {
        "type": "object",
        "required": [
          "account_name",
          "account_numbers",
          "account_type",
          "available_balance",
          "booked_balance",
          "country",
          "currency",
          "product",
          "status"
        ],
        "properties": {
          "account_name": {
            "type": "string",
            "description": "Account name",
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "account_numbers": {
            "type": "array",
            "description": "Account numbers",
            "items": {
              "$ref": "#/definitions/AccountNumber"
            },
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "account_type": {
            "type": "string",
            "description": "Account type",
            "enum": [
              "Current",
              "Savings"
            ],
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "available_balance": {
            "type": "number",
            "description": "Available balance indicates the funds which are available to the account holder at the time of the query",
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "booked_balance": {
            "type": "number",
            "description": "Booked balance includes all transactions entered on the account at the time of the query",
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "country": {
            "type": "string",
            "description": "Country code where the account is held according to ISO ALPHA-2",
            "enum": [
              "FI",
              "SE",
              "DK",
              "NO"
            ],
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "credit_limit": {
            "type": "number",
            "description": "Amount of credit extended to account holder beyond account booked balance",
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "currency": {
            "type": "string",
            "description": "Currency code according to ISO 4217",
            "enum": [
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYN",
              "BYR",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "EUR",
              "FJD",
              "FKP",
              "GBP",
              "GGP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "IMP",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JEP",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRU",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SHP",
              "SLL",
              "SOS",
              "SPL",
              "SRD",
              "SSP",
              "STN",
              "SVC",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TVD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "UYI",
              "UYU",
              "UZS",
              "VEF",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XSU",
              "XTS",
              "XUA",
              "XXX",
              "YER",
              "ZAR",
              "ZMW",
              "ZWD",
              "CHN",
              "EEK",
              "LVL",
              "MRO",
              "STD",
              "TRL",
              "ZWL"
            ],
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "latest_transaction_booking_date": {
            "type": "string",
            "format": "date",
            "description": "Date of last transaction booked to the account",
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "product": {
            "type": "string",
            "description": "Name of the banking product delivered by this account",
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "status": {
            "type": "string",
            "description": "Status of account",
            "enum": [
              "OPEN",
              "CLOSED"
            ],
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "value_dated_balance": {
            "type": "number",
            "description": "Value dated balance is the balance on the basis of which interest is calculated on the account",
            "x-availabilityStatus": "Sandbox Only - Stable"
          }
        },
        "title": "CreateAccountRequest",
        "description": "Basic account information"
      },
      "CreateTransactionRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "status"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "description": "Transaction value",
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "balance_after_transaction": {
            "type": "number",
            "description": "Balance after transaction. Exemption for Denmark: it can take up to 24 hours for the balance to be updated after a transaction is made. Exemption for Finland: not available.",
            "x-availabilityStatus": "Sandbox Only - Stable",
            "x-notSupportedCountries": [
              "FI"
            ]
          },
          "booking_date": {
            "type": "string",
            "format": "date",
            "description": "Date transaction was booked to the account ledger",
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "card_number": {
            "type": "string",
            "description": "4 digits of card number of the transaction",
            "x-availabilityStatus": "Sandbox Only - Stable",
            "x-notSupportedCountries": [
              "DK"
            ]
          },
          "counterparty_account": {
            "type": "string",
            "description": "Counterparty account details",
            "x-availabilityStatus": "Sandbox Only - Stable",
            "x-notSupportedCountries": [
              "DK"
            ]
          },
          "counterparty_name": {
            "type": "string",
            "description": "Counterparty name",
            "x-availabilityStatus": "Sandbox Only - Stable",
            "x-notSupportedCountries": [
              "DK"
            ]
          },
          "currency": {
            "type": "string",
            "description": "Currency code according to ISO 4217",
            "enum": [
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYN",
              "BYR",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "EUR",
              "FJD",
              "FKP",
              "GBP",
              "GGP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "IMP",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JEP",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRU",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SHP",
              "SLL",
              "SOS",
              "SPL",
              "SRD",
              "SSP",
              "STN",
              "SVC",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TVD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "UYI",
              "UYU",
              "UZS",
              "VEF",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XSU",
              "XTS",
              "XUA",
              "XXX",
              "YER",
              "ZAR",
              "ZMW",
              "ZWD",
              "CHN",
              "EEK",
              "LVL",
              "MRO",
              "STD",
              "TRL",
              "ZWL"
            ],
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "currency_rate": {
            "type": "number",
            "description": "Currency code according to ISO 4217",
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "message": {
            "type": "string",
            "description": "Message from remitter to beneficiary. In Finland this may alternatively include a short description of the transaction e.g. 'Automaattiotto'",
            "x-availabilityStatus": "Sandbox Only - Stable",
            "x-notSupportedCountries": [
              "DK"
            ]
          },
          "narrative": {
            "type": "string",
            "description": "Transaction narrative (customer custom message)",
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "original_currency": {
            "type": "string",
            "description": "Currency code according to ISO 4217",
            "enum": [
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYN",
              "BYR",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "EUR",
              "FJD",
              "FKP",
              "GBP",
              "GGP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "IMP",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JEP",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRU",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SHP",
              "SLL",
              "SOS",
              "SPL",
              "SRD",
              "SSP",
              "STN",
              "SVC",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TVD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "UYI",
              "UYU",
              "UZS",
              "VEF",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XSU",
              "XTS",
              "XUA",
              "XXX",
              "YER",
              "ZAR",
              "ZMW",
              "ZWD",
              "CHN",
              "EEK",
              "LVL",
              "MRO",
              "STD",
              "TRL",
              "ZWL"
            ],
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "original_currency_amount": {
            "type": "number",
            "description": "Foreign transaction amount in original currency",
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "own_message": {
            "type": "string",
            "description": "Text message for the account holder's own use",
            "x-availabilityStatus": "Sandbox Only - Stable",
            "x-notSupportedCountries": [
              "FI",
              "DK"
            ]
          },
          "payment_date": {
            "type": "string",
            "format": "date",
            "description": "Payment date of the transaction",
            "x-availabilityStatus": "Sandbox Only - Stable",
            "x-notSupportedCountries": [
              "DK"
            ]
          },
          "reference": {
            "type": "string",
            "description": "Reference number",
            "x-availabilityStatus": "Sandbox Only - Stable",
            "x-notSupportedCountries": [
              "DK"
            ]
          },
          "status": {
            "type": "string",
            "description": "Status of the transaction",
            "enum": [
              "reserved",
              "billed",
              "confirmed"
            ],
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "transaction_date": {
            "type": "string",
            "format": "date",
            "description": "Date on which transaction was enacted",
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "type_description": {
            "type": "string",
            "description": "Description of the type of transaction, e.g. Cash withdrawal, Account transfer, etc. (localized)",
            "x-availabilityStatus": "Sandbox Only - Stable"
          },
          "value_date": {
            "type": "string",
            "format": "date",
            "description": "Value date of the transaction, used for interest calculation",
            "x-availabilityStatus": "Sandbox Only - Stable"
          }
        },
        "title": "CreateTransactionRequest",
        "description": "Transaction details"
      },
      "ErrorPayload": {
        "type": "object",
        "properties": {
          "failures": {
            "type": "array",
            "description": "More details on the occurred error",
            "items": {
              "$ref": "#/definitions/Failure"
            },
            "x-availabilityStatus": "Stable"
          },
          "request": {
            "description": "Error details",
            "$ref": "#/definitions/RequestEcho",
            "x-availabilityStatus": "Stable"
          }
        },
        "title": "ErrorPayload",
        "description": "Error response body"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "description": "Payload",
            "$ref": "#/definitions/ErrorPayload",
            "x-availabilityStatus": "Stable"
          },
          "group_header": {
            "description": "Standard format response header",
            "$ref": "#/definitions/ResponseHeader",
            "x-availabilityStatus": "Stable"
          }
        },
        "title": "ErrorResponse",
        "description": "Error response"
      },
      "Failure": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Failure code",
            "x-availabilityStatus": "Stable"
          },
          "description": {
            "type": "string",
            "description": "Failure description",
            "x-availabilityStatus": "Stable"
          },
          "path": {
            "type": "string",
            "description": "JSON path of the failing element if applicable",
            "x-availabilityStatus": "Stable"
          },
          "type": {
            "type": "string",
            "description": "Type of the validation error, e.g. NotNull",
            "x-availabilityStatus": "Stable"
          }
        },
        "title": "Failure",
        "description": "Validation error"
      },
      "Link": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string",
            "description": "Relative path to the linked resource",
            "x-availabilityStatus": "Stable"
          },
          "rel": {
            "type": "string",
            "description": "Describes the nature of the link, e.g. 'details' for a link to the detailed information of a listed resource.",
            "x-availabilityStatus": "Stable"
          }
        },
        "title": "Link",
        "description": "Context specific link (only GET supported)"
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "continuation_key": {
            "type": "string",
            "description": "Resource listing may return a continuationKey if there's more results available. Request may be retried with the continuationKey, but otherwise same parameters, in order to get more results.",
            "x-availabilityStatus": "Stable"
          }
        },
        "title": "Pagination",
        "description": "Details of paginated response"
      },
      "RequestEcho": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Original request url",
            "x-availabilityStatus": "Stable"
          }
        },
        "title": "RequestEcho",
        "description": "Original request information"
      },
      "ResponseHeader": {
        "type": "object",
        "properties": {
          "creation_date_time": {
            "type": "string",
            "format": "date-time",
            "description": "Response creation time",
            "x-availabilityStatus": "Stable"
          },
          "http_code": {
            "type": "integer",
            "format": "int32",
            "example": 200,
            "description": "HTTP code for response",
            "x-availabilityStatus": "Stable"
          },
          "message_identification": {
            "type": "string",
            "description": "Original request id for correlation purposes",
            "x-availabilityStatus": "Stable"
          },
          "message_pagination": {
            "description": "Details of paginated response",
            "$ref": "#/definitions/Pagination",
            "x-availabilityStatus": "Stable"
          }
        },
        "title": "ResponseHeader",
        "description": "External response header"
      }
    }
  }