{
    "swagger": "2.0",
    "info": {
        "description": "Corporate Payments API",
        "version": "1.0",
        "title": "Corporate Payments API",
        "contact": {
            "name": "Open Banking team",
            "url": "https://nordeaopenbanking.com",
            "email": "support@nordeaopenbanking.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "x-ibm-name": "corporate-pis-v1",
        "x-version": "1.0"
    },
    "host": "api.nordeaopenbanking.com",
    "basePath": "/corporate/",
    "tags": [
        {
            "name": "payments-v1",
            "description": "Payment initiation and confirmation."
        }
    ],
    "paths": {
        "/v1/payments": {
            "post": {
                "tags": [
                    "payments-v1"
                ],
                "summary": "Initiate Payment",
                "operationId": "initiatePaymentUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Digest",
                        "in": "header",
                        "description": "The Digest Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843]. For POST with 'application/x-www-form-urlencoded' content type Digest should be calculated for normalized string created from request parameters like this: 'param1&#61;value1&#38;param2&#61;value2'. It is important that parameters should be placed in alphabetic order",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Signature",
                        "in": "header",
                        "description": "A signature of request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 10 (<a href=\"https://tools.ietf.org/html/draft-cavage-http-signatures-10\" target=\"_blank\">https://tools.ietf.org/html/draft-cavage-http-signatures-10</a>). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. Additional requirements from Nordea \n - The only allowed algorithm is RSA-SHA256 \n- The key size for the used RSA key pair has to be at least 2048 bit \n- The keyId is the clientId of your application originating from the Nordea Developer Portal \n- We require the following headers to be used in the signature \n* Request without body: (request-target) X-Nordea-Originating-Host X-Nordea-Originating-Date \n* Request with body: (request-target) X-Nordea-Originating-Host X-Nordea-Originating-Date Content-type Digest \n* The request-target is a combination of the HTTP action verb and the request URI path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-IBM-Client-Id",
                        "in": "header",
                        "description": "Id of the Client",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-IBM-Client-Secret",
                        "in": "header",
                        "description": "Secret password generated for the Client",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-Date",
                        "in": "header",
                        "description": "HTTP header element for date and time represented as RFC 7231 Full Dates (GMT). Example date: **Wed, 24 Apr 2019 14:00:37 GMT**. It is similar to standard HTTP 'Date' expect that it allows to set it under JavaScript in browser while standard 'Date' is forbidden",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-Host",
                        "in": "header",
                        "description": "HTTP header element for specification of the domain name of the server. It is similar to standard HTTP 'Host' header but it won't be overridden by proxies. It also allows to set it under JavaScript in browser while standard 'Host' is forbidden",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-User-Agent",
                        "in": "header",
                        "description": "End user (i.e. PSU) agent information, to be provided if TPP is in session with the PSU",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-User-Ip",
                        "in": "header",
                        "description": "End user (i.e. PSU) IP address, to be provided if TPP is in session with the PSU",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "Request to create a new payment.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PaymentRequestTemplate"
                        },
                        "x-availabilityStatus": "Stable"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "New payment details",
                        "schema": {
                            "$ref": "#/definitions/PaymentResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized with failure code:\n* error.apikey.missing = Missing API key. This operation requires API key, but it was missing.\n* error.token = Unspecified error with supplied token.\n* error.token.invalid = Missing access token or token did not authorized requested operation. This operation requires valid access token, but it was missing.\n* error.token.expired = Access token has expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Login failure",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "DecoupledAuth": [
                            "PAYMENTS_PSD2",
                            "PAYMENTS_BROADBAND"
                        ]
                    }
                ],
                "deprecated": false,
                "x-availabilityStatus": "Stable",
                "x-isPolymorphic": "true"
            }
        },
        "/v1/payments/templates": {
            "get": {
                "tags": [
                    "payments-v1"
                ],
                "summary": "List available templates",
                "operationId": "paymentTemplateListUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-IBM-Client-Id",
                        "in": "header",
                        "description": "Id of the Client",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-IBM-Client-Secret",
                        "in": "header",
                        "description": "Secret password generated for the Client",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-User-Agent",
                        "in": "header",
                        "description": "End user (i.e. PSU) agent information, to be provided if TPP is in session with the PSU",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-User-Ip",
                        "in": "header",
                        "description": "End user (i.e. PSU) IP address, to be provided if TPP is in session with the PSU",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Templates list",
                        "schema": {
                            "$ref": "#/definitions/PaymentTemplateListResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized with failure code:\n* error.apikey.missing = Missing API key. This operation requires API key, but it was missing.\n* error.token = Unspecified error with supplied token.\n* error.token.invalid = Missing access token or token did not authorized requested operation. This operation requires valid access token, but it was missing.\n* error.token.expired = Access token has expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden with failure code:\n* error.resource.denied = Requested resource is not authorized by access token.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "deprecated": false,
                "x-availabilityInfo": "This version can change upon Your feedback",
                "x-availabilityStatus": "Sandbox Only - Beta"
            }
        },
        "/v1/payments/users": {
            "get": {
                "tags": [
                    "payments-v1"
                ],
                "summary": "List payment authorization permissions held by each user.",
                "operationId": "getPaymentsAuthorizationsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-IBM-Client-Id",
                        "in": "header",
                        "description": "Id of the Client",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-IBM-Client-Secret",
                        "in": "header",
                        "description": "Secret password generated for the Client",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-User-Agent",
                        "in": "header",
                        "description": "End user (i.e. PSU) agent information, to be provided if TPP is in session with the PSU",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-User-Ip",
                        "in": "header",
                        "description": "End user (i.e. PSU) IP address, to be provided if TPP is in session with the PSU",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of payment authorization permissions held by each user.",
                        "schema": {
                            "$ref": "#/definitions/PaymentAgreementListResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized with failure code:\n* error.apikey.missing = Missing API key. This operation requires API key, but it was missing.\n* error.token = Unspecified error with supplied token.\n* error.token.invalid = Missing access token or token did not authorized requested operation. This operation requires valid access token, but it was missing.\n* error.token.expired = Access token has expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden with failure code:\n* error.resource.denied = Requested resource is not authorized by access token.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "deprecated": false,
                "x-availabilityStatus": "Sandbox Only - Beta"
            }
        },
        "/v1/payments/{payment_id}": {
            "get": {
                "tags": [
                    "payments-v1"
                ],
                "summary": "Get payment details",
                "operationId": "getPaymentDetailsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Signature",
                        "in": "header",
                        "description": "A signature of request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 10 (<a href=\"https://tools.ietf.org/html/draft-cavage-http-signatures-10\" target=\"_blank\">https://tools.ietf.org/html/draft-cavage-http-signatures-10</a>). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. Additional requirements from Nordea \n - The only allowed algorithm is RSA-SHA256 \n- The key size for the used RSA key pair has to be at least 2048 bit \n- The keyId is the clientId of your application originating from the Nordea Developer Portal \n- We require the following headers to be used in the signature \n* Request without body: (request-target) X-Nordea-Originating-Host X-Nordea-Originating-Date \n* Request with body: (request-target) X-Nordea-Originating-Host X-Nordea-Originating-Date Content-type Digest \n* The request-target is a combination of the HTTP action verb and the request URI path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-IBM-Client-Id",
                        "in": "header",
                        "description": "Id of the Client",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-IBM-Client-Secret",
                        "in": "header",
                        "description": "Secret password generated for the Client",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-Date",
                        "in": "header",
                        "description": "HTTP header element for date and time represented as RFC 7231 Full Dates (GMT). Example date: **Wed, 24 Apr 2019 14:00:37 GMT**. It is similar to standard HTTP 'Date' expect that it allows to set it under JavaScript in browser while standard 'Date' is forbidden",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-Host",
                        "in": "header",
                        "description": "HTTP header element for specification of the domain name of the server. It is similar to standard HTTP 'Host' header but it won't be overridden by proxies. It also allows to set it under JavaScript in browser while standard 'Host' is forbidden",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-User-Agent",
                        "in": "header",
                        "description": "End user (i.e. PSU) agent information, to be provided if TPP is in session with the PSU",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-User-Ip",
                        "in": "header",
                        "description": "End user (i.e. PSU) IP address, to be provided if TPP is in session with the PSU",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "payment_id",
                        "in": "path",
                        "description": "Payment id of the requested payment for details.",
                        "required": true,
                        "type": "string",
                        "x-availabilityStatus": "Stable"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details of the payment",
                        "schema": {
                            "$ref": "#/definitions/PaymentResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized with failure code:\n* error.apikey.missing = Missing API key. This operation requires API key, but it was missing.\n* error.token = Unspecified error with supplied token.\n* error.token.invalid = Missing access token or token did not authorized requested operation. This operation requires valid access token, but it was missing.\n* error.token.expired = Access token has expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Login failure",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "DecoupledAuth": [
                            "PAYMENTS_PSD2",
                            "PAYMENTS_BROADBAND"
                        ]
                    }
                ],
                "deprecated": false,
                "x-availabilityStatus": "Stable"
            },
            "put": {
                "tags": [
                    "payments-v1"
                ],
                "summary": "Confirm payment execution",
                "operationId": "confirmPaymentUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Digest",
                        "in": "header",
                        "description": "The Digest Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843]. For POST with 'application/x-www-form-urlencoded' content type Digest should be calculated for normalized string created from request parameters like this: 'param1&#61;value1&#38;param2&#61;value2'. It is important that parameters should be placed in alphabetic order",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Signature",
                        "in": "header",
                        "description": "A signature of request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 10 (<a href=\"https://tools.ietf.org/html/draft-cavage-http-signatures-10\" target=\"_blank\">https://tools.ietf.org/html/draft-cavage-http-signatures-10</a>). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. Additional requirements from Nordea \n - The only allowed algorithm is RSA-SHA256 \n- The key size for the used RSA key pair has to be at least 2048 bit \n- The keyId is the clientId of your application originating from the Nordea Developer Portal \n- We require the following headers to be used in the signature \n* Request without body: (request-target) X-Nordea-Originating-Host X-Nordea-Originating-Date \n* Request with body: (request-target) X-Nordea-Originating-Host X-Nordea-Originating-Date Content-type Digest \n* The request-target is a combination of the HTTP action verb and the request URI path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-IBM-Client-Id",
                        "in": "header",
                        "description": "Id of the Client",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-IBM-Client-Secret",
                        "in": "header",
                        "description": "Secret password generated for the Client",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-Date",
                        "in": "header",
                        "description": "HTTP header element for date and time represented as RFC 7231 Full Dates (GMT). Example date: **Wed, 24 Apr 2019 14:00:37 GMT**. It is similar to standard HTTP 'Date' expect that it allows to set it under JavaScript in browser while standard 'Date' is forbidden",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-Host",
                        "in": "header",
                        "description": "HTTP header element for specification of the domain name of the server. It is similar to standard HTTP 'Host' header but it won't be overridden by proxies. It also allows to set it under JavaScript in browser while standard 'Host' is forbidden",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-User-Agent",
                        "in": "header",
                        "description": "End user (i.e. PSU) agent information, to be provided if TPP is in session with the PSU",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "X-Nordea-Originating-User-Ip",
                        "in": "header",
                        "description": "End user (i.e. PSU) IP address, to be provided if TPP is in session with the PSU",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "payment_id",
                        "in": "path",
                        "description": "Payment id of the requested payment for confirmation.",
                        "required": true,
                        "type": "string",
                        "x-availabilityStatus": "Stable"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "Request used to confirm pending payment.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ConfirmPaymentRequest"
                        },
                        "x-availabilityStatus": "Stable"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details of the payment",
                        "schema": {
                            "$ref": "#/definitions/PaymentResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized with failure code:\n* error.apikey.missing = Missing API key. This operation requires API key, but it was missing.\n* error.token = Unspecified error with supplied token.\n* error.token.invalid = Missing access token or token did not authorized requested operation. This operation requires valid access token, but it was missing.\n* error.token.expired = Access token has expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Login failure",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "DecoupledAuth": [
                            "PAYMENTS_PSD2",
                            "PAYMENTS_BROADBAND"
                        ]
                    }
                ],
                "deprecated": false,
                "x-availabilityStatus": "Stable"
            }
        }
    },
    "securityDefinitions": {
        "DecoupledAuth": {
            "type": "oauth2",
            "authorizationUrl": "/v2/authorize",
            "tokenUrl": "/v2/authorize/token",
            "flow": "accessCode",
            "scopes": {
                "PAYMENTS_PSD2": "Scope used to make and access payments within PSD2",
                "PAYMENTS_BROADBAND": "Scope used to make and access payments for MyOpenBanking customers"
            },
            "x-addAuthorizerDescription": "Send authorization request to relevant agreement administrator",
            "x-addAuthorizerUrl": "/v2/authorize",
            "x-authSubType": "decoupled-auth",
            "x-codeStatusDescription": "Returns code when authorization second step is finished",
            "x-codeStatusUrl": "/v2/authorize"
        }
    },
    "definitions": {
        "AccountDetails": {
            "type": "object",
            "properties": {
                "account_iban": {
                    "type": "string",
                    "description": "International Bank Account Number.",
                    "x-availabilityStatus": "Sandbox Only - Beta"
                },
                "users": {
                    "type": "array",
                    "description": "Users with their authorization right towards specific account.",
                    "items": {
                        "$ref": "#/definitions/PaymentAuthorization"
                    },
                    "x-availabilityStatus": "Sandbox Only - Beta"
                }
            },
            "title": "AccountDetails",
            "description": "Details of the account."
        },
        "AgreementDetails": {
            "type": "object",
            "properties": {
                "accounts": {
                    "type": "array",
                    "description": "Accounts available within the agreement.",
                    "items": {
                        "$ref": "#/definitions/AccountDetails"
                    },
                    "x-availabilityStatus": "Sandbox Only - Beta"
                },
                "agreement_number": {
                    "type": "string",
                    "description": "Agreement Number.",
                    "x-availabilityStatus": "Sandbox Only - Beta"
                }
            },
            "title": "AgreementDetails",
            "description": "Agreements available."
        },
        "Bank": {
            "type": "object",
            "properties": {
                "bank_code": {
                    "type": "string",
                    "example": 600,
                    "description": "Bank Identification Code.",
                    "x-availabilityStatus": "Stable"
                },
                "bic": {
                    "type": "string",
                    "example": "NDEAFIHH",
                    "description": "Bank identifier code (BIC) of the creditor bank.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "Bank",
            "description": "Creditor bank information."
        },
        "ConfirmPaymentRequest": {
            "type": "object",
            "required": [
                "authorizer_id"
            ],
            "properties": {
                "authorizer_id": {
                    "type": "string",
                    "description": "Corporate Netbank logon id of payment authorizer.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "ConfirmPaymentRequest",
            "description": "Provide an authorizer (Corporate Netbank Administrator) who will confirm the payment."
        },
        "CreditAccountNumberResponse": {
            "type": "object",
            "required": [
                "type",
                "value"
            ],
            "properties": {
                "type": {
                    "type": "string",
                    "example": "IBAN",
                    "description": "Type of account number.",
                    "enum": [
                        "IBAN",
                        "BBAN",
                        "BGNR",
                        "PGNR",
                        "GIRO_DK"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": "FI1350001520000081",
                    "description": "Account number.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "CreditAccountNumberResponse",
            "description": "Creditor account information."
        },
        "DebitAccountNumberResponse": {
            "type": "object",
            "required": [
                "type",
                "value"
            ],
            "properties": {
                "currency": {
                    "type": "string",
                    "example": "EUR",
                    "description": "Currency of the debtor account.",
                    "enum": [
                        "DKK",
                        "NOK",
                        "SEK",
                        "EUR"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "type": {
                    "type": "string",
                    "example": "IBAN",
                    "description": "Type of account number.",
                    "enum": [
                        "IBAN",
                        "BBAN"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": "FI1350001520000081",
                    "description": "Account number.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DebitAccountNumberResponse",
            "description": "Debtor account information."
        },
        "DomesticBankInformationSe": {
            "type": "object",
            "required": [
                "bank_code",
                "bic"
            ],
            "properties": {
                "bank_code": {
                    "type": "string",
                    "example": 600,
                    "description": "Bank code (bankidentifieringskod) used to identify Swedish bank - this is not the clearing code.Bank code is not required for Nordea internal transfers but mandatory for payments to other Swedish banks.",
                    "x-availabilityStatus": "Stable"
                },
                "bic": {
                    "type": "string",
                    "example": "DABASESS",
                    "description": "Bank identifier code (BIC) of the creditor bank is not required for Nordea internal transfers but mandatory for other Swedish banks.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticBankInformationSe",
            "description": "Bank identifier code (BIC) of the creditor bank is not required for Nordea internal transfers but mandatory for other Swedish banks."
        },
        "DomesticCreditAccountNumberDk": {
            "type": "object",
            "required": [
                "type",
                "value"
            ],
            "properties": {
                "type": {
                    "type": "string",
                    "example": "BBAN",
                    "description": "Type of account number.",
                    "enum": [
                        "IBAN",
                        "BBAN"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": 27861544318671,
                    "description": "Account number.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticCreditAccountNumberDk",
            "description": "Creditor account information."
        },
        "DomesticCreditAccountNumberNo": {
            "type": "object",
            "required": [
                "type",
                "value"
            ],
            "properties": {
                "type": {
                    "type": "string",
                    "example": "IBAN",
                    "description": "Type of account number.",
                    "enum": [
                        "IBAN",
                        "BBAN"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": "NO9386011117947",
                    "description": "Account number.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticCreditAccountNumberNo",
            "description": "Creditor account information."
        },
        "DomesticCreditAccountNumberSe": {
            "type": "object",
            "required": [
                "type",
                "value"
            ],
            "properties": {
                "type": {
                    "type": "string",
                    "example": "BBAN",
                    "description": "Type of account number.",
                    "enum": [
                        "IBAN",
                        "BBAN",
                        "BGNR",
                        "PGNR"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": 12010113101,
                    "description": "Account number.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticCreditAccountNumberSe",
            "description": "Creditor account information."
        },
        "DomesticCreditTransferDk": {
            "title": "DomesticCreditTransferDk",
            "allOf": [
                {
                    "$ref": "#/definitions/PaymentRequestTemplate"
                },
                {
                    "type": "object",
                    "required": [
                        "amount",
                        "authorizer_id",
                        "creditor",
                        "currency",
                        "debtor",
                        "external_id",
                        "template_id"
                    ],
                    "properties": {
                        "amount": {
                            "type": "number",
                            "example": 123.45,
                            "description": "Amount of the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "authorizer_id": {
                            "type": "string",
                            "example": 70311198,
                            "description": "Corporate Netbank logon id of the user requesting the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "currency": {
                            "type": "string",
                            "example": "DKK",
                            "description": "Currency code of the payment.",
                            "enum": [
                                "DKK"
                            ],
                            "x-availabilityStatus": "Stable"
                        },
                        "end_to_end_id": {
                            "type": "string",
                            "example": "13227asdfds",
                            "description": "Identification assigned by the initiating party to unambiguously identify the transaction. \nThis identification is passed on, unchanged, throughout the entire end-to-end chain.",
                            "x-availabilityStatus": "Stable"
                        },
                        "external_id": {
                            "type": "string",
                            "example": "d630b00a-227c-474e-8d20-1fc2b7141fdc",
                            "description": "Unique identification as defined by the PISP (Payment Initiation Service Provider) to identify the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "requested_execution_date": {
                            "type": "string",
                            "example": "2019-07-31",
                            "description": "Date of payment execution requested by user.",
                            "x-availabilityStatus": "Stable"
                        },
                        "template_id": {
                            "type": "string",
                            "description": "Value that identifies request template.",
                            "enum": [
                                "SEPA_CREDIT_TRANSFER_FI",
                                "DOMESTIC_CREDIT_TRANSFER_SE",
                                "DOMESTIC_CREDIT_TRANSFER_DK",
                                "DOMESTIC_TRANSFER_FORM_DK",
                                "DOMESTIC_TRANSFER_FORM_WITH_OCR_DK",
                                "DOMESTIC_CREDIT_TRANSFER_NO",
                                "DOMESTIC_KID_TRANSFER_NO"
                            ],
                            "x-availabilityStatus": "Stable"
                        },
                        "urgency": {
                            "type": "string",
                            "example": "EXPRESS",
                            "description": "Urgency of the payment.\n* NORMAL = Non-urgent payment\n* SAME_DAY_VALUE = Same day value\n* EXPRESS = Express payment",
                            "enum": [
                                "NORMAL",
                                "SAME_DAY_VALUE",
                                "EXPRESS"
                            ],
                            "x-availabilityStatus": "Stable"
                        },
                        "debtor": {
                            "description": "Details of the debtor.",
                            "$ref": "#/definitions/DomesticPaymentDebtorDk",
                            "x-availabilityStatus": "Stable"
                        },
                        "creditor": {
                            "description": "Details of the creditor.",
                            "$ref": "#/definitions/DomesticPaymentCreditorDk",
                            "x-availabilityStatus": "Stable"
                        }
                    },
                    "title": "DomesticCreditTransferDk",
                    "description": "Template id: DOMESTIC_CREDIT_TRANSFER_DK is used for initiation of Danish domestic bank transfer."
                }
            ],
            "description": "Template id: DOMESTIC_CREDIT_TRANSFER_DK is used for initiation of Danish domestic bank transfer."
        },
        "DomesticCreditTransferNo": {
            "title": "DomesticCreditTransferNo",
            "allOf": [
                {
                    "$ref": "#/definitions/PaymentRequestTemplate"
                },
                {
                    "type": "object",
                    "required": [
                        "amount",
                        "authorizer_id",
                        "creditor",
                        "currency",
                        "debtor",
                        "external_id",
                        "template_id"
                    ],
                    "properties": {
                        "amount": {
                            "type": "number",
                            "example": 123.45,
                            "description": "Amount of the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "authorizer_id": {
                            "type": "string",
                            "example": 70311198,
                            "description": "Corporate Netbank logon id of the user requesting the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "currency": {
                            "type": "string",
                            "example": "NOK",
                            "description": "Currency code of the payment.",
                            "enum": [
                                "NOK"
                            ],
                            "x-availabilityStatus": "Stable"
                        },
                        "external_id": {
                            "type": "string",
                            "example": "d630b00a-227c-474e-8d20-1fc2b7141fdc",
                            "description": "Unique identification as defined by the PISP (Payment Initiation Service Provider) to identify the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "requested_execution_date": {
                            "type": "string",
                            "example": "2019-07-31",
                            "description": "Date of payment execution requested by user.",
                            "x-availabilityStatus": "Stable"
                        },
                        "template_id": {
                            "type": "string",
                            "description": "Value that identifies request template.",
                            "enum": [
                                "SEPA_CREDIT_TRANSFER_FI",
                                "DOMESTIC_CREDIT_TRANSFER_SE",
                                "DOMESTIC_CREDIT_TRANSFER_DK",
                                "DOMESTIC_TRANSFER_FORM_DK",
                                "DOMESTIC_TRANSFER_FORM_WITH_OCR_DK",
                                "DOMESTIC_CREDIT_TRANSFER_NO",
                                "DOMESTIC_KID_TRANSFER_NO"
                            ],
                            "x-availabilityStatus": "Stable"
                        },
                        "debtor": {
                            "description": "Details of the debtor.",
                            "$ref": "#/definitions/DomesticPaymentDebtorNo",
                            "x-availabilityStatus": "Stable"
                        },
                        "creditor": {
                            "description": "Details of the creditor.",
                            "$ref": "#/definitions/DomesticPaymentCreditorNo",
                            "x-availabilityStatus": "Stable"
                        }
                    },
                    "title": "DomesticCreditTransferNo",
                    "description": "Template id: DOMESTIC_CREDIT_TRANSFER_NO is used for initiation of Norwegian domestic payment."
                }
            ],
            "description": "Template id: DOMESTIC_CREDIT_TRANSFER_NO is used for initiation of Norwegian domestic payment."
        },
        "DomesticCreditTransferSe": {
            "title": "DomesticCreditTransferSe",
            "allOf": [
                {
                    "$ref": "#/definitions/PaymentRequestTemplate"
                },
                {
                    "type": "object",
                    "required": [
                        "amount",
                        "authorizer_id",
                        "creditor",
                        "currency",
                        "debtor",
                        "external_id",
                        "template_id"
                    ],
                    "properties": {
                        "amount": {
                            "type": "number",
                            "example": 123.45,
                            "description": "Amount of the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "authorizer_id": {
                            "type": "string",
                            "example": 70311198,
                            "description": "Corporate Netbank logon id of the user requesting the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "currency": {
                            "type": "string",
                            "example": "SEK",
                            "description": "Currency code of the payment.",
                            "enum": [
                                "SEK"
                            ],
                            "x-availabilityStatus": "Stable"
                        },
                        "external_id": {
                            "type": "string",
                            "example": "d630b00a-227c-474e-8d20-1fc2b7141fdc",
                            "description": "Unique identification as defined by the PISP (Payment Initiation Service Provider) to identify the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "requested_execution_date": {
                            "type": "string",
                            "example": "2019-07-31",
                            "description": "Date of payment execution requested by user.",
                            "x-availabilityStatus": "Stable"
                        },
                        "template_id": {
                            "type": "string",
                            "description": "Value that identifies request template.",
                            "enum": [
                                "SEPA_CREDIT_TRANSFER_FI",
                                "DOMESTIC_CREDIT_TRANSFER_SE",
                                "DOMESTIC_CREDIT_TRANSFER_DK",
                                "DOMESTIC_TRANSFER_FORM_DK",
                                "DOMESTIC_TRANSFER_FORM_WITH_OCR_DK",
                                "DOMESTIC_CREDIT_TRANSFER_NO",
                                "DOMESTIC_KID_TRANSFER_NO"
                            ],
                            "x-availabilityStatus": "Stable"
                        },
                        "debtor": {
                            "description": "Details of the debtor.",
                            "$ref": "#/definitions/DomesticPaymentDebtorSe",
                            "x-availabilityStatus": "Stable"
                        },
                        "creditor": {
                            "description": "Details of the creditor.",
                            "$ref": "#/definitions/DomesticPaymentCreditorSe",
                            "x-availabilityStatus": "Stable"
                        }
                    },
                    "title": "DomesticCreditTransferSe",
                    "description": "Template id: DOMESTIC_CREDIT_TRANSFER_SE is used for initiation of Swedish domestic bank transfer."
                }
            ],
            "description": "Template id: DOMESTIC_CREDIT_TRANSFER_SE is used for initiation of Swedish domestic bank transfer."
        },
        "DomesticDebitAccountNumberDk": {
            "type": "object",
            "required": [
                "currency",
                "type",
                "value"
            ],
            "properties": {
                "currency": {
                    "type": "string",
                    "example": "DKK",
                    "description": "Currency of the debtor account.",
                    "enum": [
                        "DKK"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "type": {
                    "type": "string",
                    "example": "BBAN",
                    "description": "Type of account number.",
                    "enum": [
                        "IBAN",
                        "BBAN"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": 20000270491715,
                    "description": "Account number.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticDebitAccountNumberDk",
            "description": "Debtor account information."
        },
        "DomesticDebitAccountNumberNo": {
            "type": "object",
            "required": [
                "currency",
                "type",
                "value"
            ],
            "properties": {
                "currency": {
                    "type": "string",
                    "example": "NOK",
                    "description": "Currency of the debtor account.",
                    "enum": [
                        "NOK"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "type": {
                    "type": "string",
                    "example": "IBAN",
                    "description": "Type of account number.",
                    "enum": [
                        "IBAN",
                        "BBAN"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": "NO2268250512345",
                    "description": "Account number.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticDebitAccountNumberNo",
            "description": "Debtor account information."
        },
        "DomesticDebitAccountNumberSe": {
            "type": "object",
            "required": [
                "currency",
                "type",
                "value"
            ],
            "properties": {
                "currency": {
                    "type": "string",
                    "example": "SEK",
                    "description": "Currency of the debtor account.",
                    "enum": [
                        "SEK"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "type": {
                    "type": "string",
                    "example": "BBAN",
                    "description": "Type of account number.",
                    "enum": [
                        "IBAN",
                        "BBAN",
                        "PGNR"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": 40161303419,
                    "description": "Account number.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticDebitAccountNumberSe",
            "description": "Debtor account information."
        },
        "DomesticKidCreditAccountNumberNo": {
            "type": "object",
            "required": [
                "type",
                "value"
            ],
            "properties": {
                "type": {
                    "type": "string",
                    "example": "IBAN",
                    "description": "Type of account number.",
                    "enum": [
                        "IBAN",
                        "BBAN"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": "NO5797600516993",
                    "description": "Account number.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticKidCreditAccountNumberNo",
            "description": "Creditor account information."
        },
        "DomesticKidDebitAccountNumberNo": {
            "type": "object",
            "required": [
                "currency",
                "type",
                "value"
            ],
            "properties": {
                "currency": {
                    "type": "string",
                    "example": "NOK",
                    "description": "Currency of the debtor account.",
                    "enum": [
                        "NOK"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "type": {
                    "type": "string",
                    "example": "IBAN",
                    "description": "Type of account number.",
                    "enum": [
                        "IBAN",
                        "BBAN"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": "NO2268250512345",
                    "description": "Account number.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticKidDebitAccountNumberNo",
            "description": "Debtor account information."
        },
        "DomesticKidPaymentCreditorNo": {
            "type": "object",
            "required": [
                "account",
                "reference"
            ],
            "properties": {
                "account": {
                    "description": "Creditor account information.",
                    "$ref": "#/definitions/DomesticKidCreditAccountNumberNo",
                    "x-availabilityStatus": "Stable"
                },
                "address": {
                    "type": "string",
                    "example": "Sonja Henies Plass 2, Oslo",
                    "description": "Address of the creditor.",
                    "x-availabilityStatus": "Stable"
                },
                "name": {
                    "type": "string",
                    "example": "Screws and Nuts Ltd",
                    "description": "Name of the creditor.",
                    "x-availabilityStatus": "Stable"
                },
                "reference": {
                    "description": "Creditor reference information.",
                    "$ref": "#/definitions/DomesticKidReferenceNo",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticKidPaymentCreditorNo",
            "description": "Details of the creditor."
        },
        "DomesticKidPaymentDebtorNo": {
            "type": "object",
            "required": [
                "account"
            ],
            "properties": {
                "account": {
                    "description": "Debtor account information.",
                    "$ref": "#/definitions/DomesticKidDebitAccountNumberNo",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticKidPaymentDebtorNo",
            "description": "Details of the debtor."
        },
        "DomesticKidReferenceNo": {
            "type": "object",
            "required": [
                "type",
                "value"
            ],
            "properties": {
                "type": {
                    "type": "string",
                    "example": "KID",
                    "description": "Type of reference number.\n* KID = KID reference number",
                    "enum": [
                        "KID"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": 240000158915751516,
                    "description": "Reference value.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticKidReferenceNo",
            "description": "Creditor reference information."
        },
        "DomesticKidTransferNo": {
            "title": "DomesticKidTransferNo",
            "allOf": [
                {
                    "$ref": "#/definitions/PaymentRequestTemplate"
                },
                {
                    "type": "object",
                    "required": [
                        "amount",
                        "authorizer_id",
                        "creditor",
                        "currency",
                        "debtor",
                        "external_id",
                        "template_id"
                    ],
                    "properties": {
                        "amount": {
                            "type": "number",
                            "example": 123.45,
                            "description": "Amount of the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "authorizer_id": {
                            "type": "string",
                            "example": 70311198,
                            "description": "Corporate Netbank logon id of the user requesting the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "currency": {
                            "type": "string",
                            "example": "NOK",
                            "description": "Currency code of the payment.",
                            "enum": [
                                "NOK"
                            ],
                            "x-availabilityStatus": "Stable"
                        },
                        "external_id": {
                            "type": "string",
                            "example": "d630b00a-227c-474e-8d20-1fc2b7141fdc",
                            "description": "Unique identification as defined by the PISP (Payment Initiation Service Provider) to identify the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "requested_execution_date": {
                            "type": "string",
                            "example": "2019-07-31",
                            "description": "Date of payment execution requested by user.",
                            "x-availabilityStatus": "Stable"
                        },
                        "template_id": {
                            "type": "string",
                            "description": "Value that identifies request template.",
                            "enum": [
                                "SEPA_CREDIT_TRANSFER_FI",
                                "DOMESTIC_CREDIT_TRANSFER_SE",
                                "DOMESTIC_CREDIT_TRANSFER_DK",
                                "DOMESTIC_TRANSFER_FORM_DK",
                                "DOMESTIC_TRANSFER_FORM_WITH_OCR_DK",
                                "DOMESTIC_CREDIT_TRANSFER_NO",
                                "DOMESTIC_KID_TRANSFER_NO"
                            ],
                            "x-availabilityStatus": "Stable"
                        },
                        "debtor": {
                            "description": "Details of the debtor.",
                            "$ref": "#/definitions/DomesticKidPaymentDebtorNo",
                            "x-availabilityStatus": "Stable"
                        },
                        "creditor": {
                            "description": "Details of the creditor.",
                            "$ref": "#/definitions/DomesticKidPaymentCreditorNo",
                            "x-availabilityStatus": "Stable"
                        }
                    },
                    "title": "DomesticKidTransferNo",
                    "description": "Template id: DOMESTIC_KID_TRANSFER_NO is used for initiation of Norwegian kid payment."
                }
            ],
            "description": "Template id: DOMESTIC_KID_TRANSFER_NO is used for initiation of Norwegian kid payment."
        },
        "DomesticPaymentCreditorDk": {
            "type": "object",
            "required": [
                "account"
            ],
            "properties": {
                "account": {
                    "description": "Creditor account information.",
                    "$ref": "#/definitions/DomesticCreditAccountNumberDk",
                    "x-availabilityStatus": "Stable"
                },
                "message": {
                    "type": "string",
                    "example": "Invoice 5071",
                    "description": "Message to beneficiary.",
                    "x-availabilityStatus": "Stable"
                },
                "message_to_bank_statement": {
                    "type": "string",
                    "example": "Invoice 5071",
                    "description": "Message on beneficiary's bank statement. It's only used for Domestic credit transfer DK.",
                    "x-availabilityStatus": "Stable"
                },
                "name": {
                    "type": "string",
                    "example": "Screws and Nuts Ltd",
                    "description": "Name of the creditor.",
                    "x-availabilityStatus": "Stable"
                },
                "reference": {
                    "description": "Creditor reference information.",
                    "$ref": "#/definitions/DomesticReferenceDk",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticPaymentCreditorDk",
            "description": "Details of the creditor."
        },
        "DomesticPaymentCreditorNo": {
            "type": "object",
            "required": [
                "account",
                "advice_required"
            ],
            "properties": {
                "account": {
                    "description": "Creditor account information.",
                    "$ref": "#/definitions/DomesticCreditAccountNumberNo",
                    "x-availabilityStatus": "Stable"
                },
                "address": {
                    "type": "string",
                    "example": "Sonja Henies Plass 2, Oslo",
                    "description": "Address of the creditor.",
                    "x-availabilityStatus": "Stable"
                },
                "advice_required": {
                    "type": "string",
                    "example": "Y",
                    "description": "Indicates whether or not payment should provide a creditor advice.",
                    "enum": [
                        "Y",
                        "N"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "message": {
                    "type": "string",
                    "example": "Invoice 5071",
                    "description": "Message to beneficiary.",
                    "x-availabilityStatus": "Stable"
                },
                "name": {
                    "type": "string",
                    "example": "Screws and Nuts Ltd",
                    "description": "Name of the creditor.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticPaymentCreditorNo",
            "description": "Details of the creditor."
        },
        "DomesticPaymentCreditorSe": {
            "type": "object",
            "required": [
                "account"
            ],
            "properties": {
                "account": {
                    "description": "Creditor account information.",
                    "$ref": "#/definitions/DomesticCreditAccountNumberSe",
                    "x-availabilityStatus": "Stable"
                },
                "bank": {
                    "description": "Creditor bank information.",
                    "$ref": "#/definitions/DomesticBankInformationSe",
                    "x-availabilityStatus": "Stable"
                },
                "message": {
                    "type": "string",
                    "example": "Invoice 5071",
                    "description": "Message to beneficiary.",
                    "x-availabilityStatus": "Stable"
                },
                "name": {
                    "type": "string",
                    "example": "Screws and Nuts Ltd",
                    "description": "Name of the creditor.",
                    "x-availabilityStatus": "Stable"
                },
                "reference": {
                    "description": "Creditor reference information.",
                    "$ref": "#/definitions/DomesticReferenceSe",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticPaymentCreditorSe",
            "description": "Details of the creditor."
        },
        "DomesticPaymentDebtorDk": {
            "type": "object",
            "required": [
                "account"
            ],
            "properties": {
                "account": {
                    "description": "Debtor account information.",
                    "$ref": "#/definitions/DomesticDebitAccountNumberDk",
                    "x-availabilityStatus": "Stable"
                },
                "own_reference": {
                    "type": "string",
                    "example": "Own message",
                    "description": "Reference for debtor's use.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticPaymentDebtorDk",
            "description": "Details of the debtor."
        },
        "DomesticPaymentDebtorNo": {
            "type": "object",
            "required": [
                "account"
            ],
            "properties": {
                "account": {
                    "description": "Debtor account information.",
                    "$ref": "#/definitions/DomesticDebitAccountNumberNo",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticPaymentDebtorNo",
            "description": "Details of the debtor."
        },
        "DomesticPaymentDebtorSe": {
            "type": "object",
            "required": [
                "account"
            ],
            "properties": {
                "account": {
                    "description": "Debtor account information.",
                    "$ref": "#/definitions/DomesticDebitAccountNumberSe",
                    "x-availabilityStatus": "Stable"
                },
                "own_reference": {
                    "type": "string",
                    "example": "Own message",
                    "description": "Reference for debtor's use.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticPaymentDebtorSe",
            "description": "Details of the debtor."
        },
        "DomesticReferenceDk": {
            "type": "object",
            "required": [
                "type",
                "value"
            ],
            "properties": {
                "type": {
                    "type": "string",
                    "example": "RF",
                    "description": "Type of reference number.\n* RF = international reference",
                    "enum": [
                        "RF"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": "RF11223344",
                    "description": "Reference value.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticReferenceDk",
            "description": "Creditor reference information."
        },
        "DomesticReferenceSe": {
            "type": "object",
            "required": [
                "type",
                "value"
            ],
            "properties": {
                "type": {
                    "type": "string",
                    "example": "OCR",
                    "description": "Reference value.",
                    "enum": [
                        "OCR"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": 109939429740003,
                    "description": "Reference value.\n* OCR = OCR reference number",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticReferenceSe",
            "description": "Creditor reference information."
        },
        "DomesticTransferFormCreditAccountNumberDk": {
            "type": "object",
            "required": [
                "type",
                "value"
            ],
            "properties": {
                "type": {
                    "type": "string",
                    "example": "GIRO_DK",
                    "description": "Type of account number.",
                    "enum": [
                        "GIRO_DK"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": 19523179,
                    "description": "Creditor number.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticTransferFormCreditAccountNumberDk",
            "description": "Creditor account information."
        },
        "DomesticTransferFormCreditorDk": {
            "type": "object",
            "required": [
                "account"
            ],
            "properties": {
                "account": {
                    "description": "Creditor account information.",
                    "$ref": "#/definitions/DomesticTransferFormCreditAccountNumberDk",
                    "x-availabilityStatus": "Stable"
                },
                "message": {
                    "type": "string",
                    "example": "Invoice 5071",
                    "description": "Message to beneficiary.",
                    "x-availabilityStatus": "Stable"
                },
                "name": {
                    "type": "string",
                    "example": "Screws and Nuts Ltd",
                    "description": "Name of the creditor.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticTransferFormCreditorDk",
            "description": "Details of the creditor."
        },
        "DomesticTransferFormDebitAccountNumberDk": {
            "type": "object",
            "required": [
                "currency",
                "type",
                "value"
            ],
            "properties": {
                "currency": {
                    "type": "string",
                    "example": "DKK",
                    "description": "Currency of the debtor account.",
                    "enum": [
                        "DKK"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "type": {
                    "type": "string",
                    "example": "BBAN",
                    "description": "Type of account number.",
                    "enum": [
                        "IBAN",
                        "BBAN"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": 20000270491715,
                    "description": "Account number.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticTransferFormDebitAccountNumberDk",
            "description": "Debtor account information."
        },
        "DomesticTransferFormDebtorDk": {
            "type": "object",
            "required": [
                "account"
            ],
            "properties": {
                "account": {
                    "description": "Debtor account information.",
                    "$ref": "#/definitions/DomesticTransferFormDebitAccountNumberDk",
                    "x-availabilityStatus": "Stable"
                },
                "own_reference": {
                    "type": "string",
                    "example": "Own message",
                    "description": "Reference for debtor's use.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticTransferFormDebtorDk",
            "description": "Details of the debtor."
        },
        "DomesticTransferFormDk": {
            "title": "DomesticTransferFormDk",
            "allOf": [
                {
                    "$ref": "#/definitions/PaymentRequestTemplate"
                },
                {
                    "type": "object",
                    "required": [
                        "amount",
                        "authorizer_id",
                        "creditor",
                        "currency",
                        "debtor",
                        "external_id",
                        "template_id",
                        "transfer_form"
                    ],
                    "properties": {
                        "amount": {
                            "type": "number",
                            "example": 123.45,
                            "description": "Amount of the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "authorizer_id": {
                            "type": "string",
                            "example": 70311198,
                            "description": "Corporate Netbank logon id of the user requesting the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "currency": {
                            "type": "string",
                            "example": "DKK",
                            "description": "Currency code of the payment.",
                            "enum": [
                                "DKK"
                            ],
                            "x-availabilityStatus": "Stable"
                        },
                        "external_id": {
                            "type": "string",
                            "example": "d630b00a-227c-474e-8d20-1fc2b7141fdc",
                            "description": "Unique identification as defined by the PISP (Payment Initiation Service Provider) to identify the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "requested_execution_date": {
                            "type": "string",
                            "example": "2019-07-31",
                            "description": "Date of payment execution requested by user.",
                            "x-availabilityStatus": "Stable"
                        },
                        "template_id": {
                            "type": "string",
                            "description": "Value that identifies request template.",
                            "enum": [
                                "SEPA_CREDIT_TRANSFER_FI",
                                "DOMESTIC_CREDIT_TRANSFER_SE",
                                "DOMESTIC_CREDIT_TRANSFER_DK",
                                "DOMESTIC_TRANSFER_FORM_DK",
                                "DOMESTIC_TRANSFER_FORM_WITH_OCR_DK",
                                "DOMESTIC_CREDIT_TRANSFER_NO",
                                "DOMESTIC_KID_TRANSFER_NO"
                            ],
                            "x-availabilityStatus": "Stable"
                        },
                        "transfer_form": {
                            "type": "string",
                            "example": "01",
                            "description": "Gives the transfer form type to be used for the payment.",
                            "enum": [
                                "01",
                                "73"
                            ],
                            "x-availabilityStatus": "Stable"
                        },
                        "debtor": {
                            "description": "Details of the debtor.",
                            "$ref": "#/definitions/DomesticTransferFormDebtorDk",
                            "x-availabilityStatus": "Stable"
                        },
                        "creditor": {
                            "description": "Details of the creditor.",
                            "$ref": "#/definitions/DomesticTransferFormCreditorDk",
                            "x-availabilityStatus": "Stable"
                        },
                        "ultimate_debtor": {
                            "description": "Details of the ultimate debtor.",
                            "$ref": "#/definitions/DomesticTransferFormUltimateDebtorDk",
                            "x-availabilityStatus": "Stable"
                        }
                    },
                    "title": "DomesticTransferFormDk",
                    "description": "Template id: DOMESTIC_TRANSFER_FORM_DK is used for Initiation of Danish domestic transfer form payment."
                }
            ],
            "description": "Template id: DOMESTIC_TRANSFER_FORM_DK is used for Initiation of Danish domestic transfer form payment."
        },
        "DomesticTransferFormUltimateDebtorDk": {
            "type": "object",
            "required": [
                "address",
                "name"
            ],
            "properties": {
                "address": {
                    "type": "string",
                    "example": "Strandgade 1 0900 Copenhagen C Denmark",
                    "description": "Address of ultimate debtor.",
                    "x-availabilityStatus": "Stable"
                },
                "name": {
                    "type": "string",
                    "example": "Screws and Nuts Subsidiary",
                    "description": "Name of ultimate debtor.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticTransferFormUltimateDebtorDk",
            "description": "Details of the ultimate debtor."
        },
        "DomesticTransferFormWithOcrCreditAccountNumberDk": {
            "type": "object",
            "required": [
                "type",
                "value"
            ],
            "properties": {
                "type": {
                    "type": "string",
                    "example": "GIRO_DK",
                    "description": "Type of account number.",
                    "enum": [
                        "GIRO_DK"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": 19523179,
                    "description": "Creditor number.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticTransferFormWithOcrCreditAccountNumberDk",
            "description": "Creditor account information."
        },
        "DomesticTransferFormWithOcrCreditorDk": {
            "type": "object",
            "required": [
                "account",
                "reference"
            ],
            "properties": {
                "account": {
                    "description": "Creditor account information.",
                    "$ref": "#/definitions/DomesticTransferFormWithOcrCreditAccountNumberDk",
                    "x-availabilityStatus": "Stable"
                },
                "message": {
                    "type": "string",
                    "example": "Invoice 5071",
                    "description": "Message to beneficiary. Used only for transfer form 75.",
                    "x-availabilityStatus": "Stable"
                },
                "name": {
                    "type": "string",
                    "example": "Screws and Nuts Ltd",
                    "description": "Name of the creditor.",
                    "x-availabilityStatus": "Stable"
                },
                "reference": {
                    "description": "Creditor reference information.",
                    "$ref": "#/definitions/DomesticTransferFormWithOcrReferenceDk",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticTransferFormWithOcrCreditorDk",
            "description": "Details of the creditor."
        },
        "DomesticTransferFormWithOcrDebitAccountNumberDk": {
            "type": "object",
            "required": [
                "currency",
                "type",
                "value"
            ],
            "properties": {
                "currency": {
                    "type": "string",
                    "example": "DKK",
                    "description": "Currency of the debtor account.",
                    "enum": [
                        "DKK"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "type": {
                    "type": "string",
                    "example": "BBAN",
                    "description": "Type of account number.",
                    "enum": [
                        "IBAN",
                        "BBAN"
                    ],
                    "x-availabilityStatus": "Stable"
                },
                "value": {
                    "type": "string",
                    "example": 20000270491715,
                    "description": "Account number.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticTransferFormWithOcrDebitAccountNumberDk",
            "description": "Debtor account information."
        },
        "DomesticTransferFormWithOcrDebtorDk": {
            "type": "object",
            "required": [
                "account"
            ],
            "properties": {
                "account": {
                    "description": "Debtor account information.",
                    "$ref": "#/definitions/DomesticTransferFormWithOcrDebitAccountNumberDk",
                    "x-availabilityStatus": "Stable"
                },
                "own_reference": {
                    "type": "string",
                    "example": "Own message",
                    "description": "Reference for debtor's use.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticTransferFormWithOcrDebtorDk",
            "description": "Details of the debtor."
        },
        "DomesticTransferFormWithOcrDk": {
            "title": "DomesticTransferFormWithOcrDk",
            "allOf": [
                {
                    "$ref": "#/definitions/PaymentRequestTemplate"
                },
                {
                    "type": "object",
                    "required": [
                        "amount",
                        "authorizer_id",
                        "creditor",
                        "currency",
                        "debtor",
                        "external_id",
                        "template_id",
                        "transfer_form"
                    ],
                    "properties": {
                        "amount": {
                            "type": "number",
                            "example": 123.45,
                            "description": "Amount of the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "authorizer_id": {
                            "type": "string",
                            "example": 70311198,
                            "description": "Corporate Netbank logon id of the user requesting the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "currency": {
                            "type": "string",
                            "example": "DKK",
                            "description": "Currency code of the payment.",
                            "enum": [
                                "DKK"
                            ],
                            "x-availabilityStatus": "Stable"
                        },
                        "external_id": {
                            "type": "string",
                            "example": "d630b00a-227c-474e-8d20-1fc2b7141fdc",
                            "description": "Unique identification as defined by the PISP (Payment Initiation Service Provider) to identify the payment.",
                            "x-availabilityStatus": "Stable"
                        },
                        "requested_execution_date": {
                            "type": "string",
                            "example": "2019-07-31",
                            "description": "Date of payment execution requested by user.",
                            "x-availabilityStatus": "Stable"
                        },
                        "template_id": {
                            "type": "string",
                            "description": "Value that identifies request template.",
                            "enum": [
                                "SEPA_CREDIT_TRANSFER_FI",
                                "DOMESTIC_CREDIT_TRANSFER_SE",
                                "DOMESTIC_CREDIT_TRANSFER_DK",
                                "DOMESTIC_TRANSFER_FORM_DK",
                                "DOMESTIC_TRANSFER_FORM_WITH_OCR_DK",
                                "DOMESTIC_CREDIT_TRANSFER_NO",
                                "DOMESTIC_KID_TRANSFER_NO"
                            ],
                            "x-availabilityStatus": "Stable"
                        },
                        "transfer_form": {
                            "type": "string",
                            "example": 75,
                            "description": "Gives the transfer form type to be used for the payment.",
                            "enum": [
                                "04",
                                "15",
                                "71",
                                "75"
                            ],
                            "x-availabilityStatus": "Stable"
                        },
                        "debtor": {
                            "description": "Details of the debtor.",
                            "$ref": "#/definitions/DomesticTransferFormWithOcrDebtorDk",
                            "x-availabilityStatus": "Stable"
                        },
                        "creditor": {
                            "description": "Details of the creditor.",
                            "$ref": "#/definitions/DomesticTransferFormWithOcrCreditorDk",
                            "x-availabilityStatus": "Stable"
                        }
                    },
                    "title": "DomesticTransferFormWithOcrDk",
                    "description": "Template id: DOMESTIC_TRANSFER_FORM_WITH_OCR_DK is used for Initiation of Danish domestic transfer form payment with OCR reference."
                }
            ],
            "description": "Template id: DOMESTIC_TRANSFER_FORM_WITH_OCR_DK is used for Initiation of Danish domestic transfer form payment with OCR reference."
        },
        "DomesticTransferFormWithOcrReferenceDk": {
            "type": "object",
            "required": [
                "value"
            ],
            "properties": {
                "value": {
                    "type": "string",
                    "example": 7047178577750189,
                    "description": "Reference value.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "DomesticTransferFormWithOcrReferenceDk",
            "description": "Creditor reference information."
        },
        "ErrorPayload": {
            "type": "object",
            "properties": {
                "failures": {
                    "type": "array",
                    "description": "More details on the occurred error",
                    "items": {
                        "$ref": "#/definitions/Failure"
                    },
                    "x-availabilityStatus": "Stable"
                },
                "request": {
                    "description": "Error details",
                    "$ref": "#/definitions/RequestEcho",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "ErrorPayload",
            "description": "Error response body"
        },
        "ErrorResponse": {
            "type": "object",
            "properties": {
                "error": {
                    "description": "Payload",
                    "$ref": "#/definitions/ErrorPayload",
                    "x-availabilityStatus": "Stable"
                },
                "group_header": {
                    "description": "Standard format response header",
                    "$ref": "#/definitions/ResponseHeader",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "ErrorResponse",
            "description": "Error response"
        },
        "Failure": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "Failure code",
                    "x-availabilityStatus": "Stable"
                },
                "description": {
                    "type": "string",
                    "description": "Failure description",
                    "x-availabilityStatus": "Stable"
                },
                "path": {
                    "type": "string",
                    "description": "JSON path of the failing element if applicable",
                    "x-availabilityStatus": "Stable"
                },
                "type": {
                    "type": "string",
                    "description": "Type of the validation error, e.g. NotNull",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "Failure",
            "description": "Validation error"
        },
        "Link": {
            "type": "object",
            "properties": {
                "href": {
                    "type": "string",
                    "description": "Relative path to the linked resource",
                    "x-availabilityStatus": "Stable"
                },
                "rel": {
                    "type": "string",
                    "description": "Describes the nature of the link, e.g. 'details' for a link to the detailed information of a listed resource.",
                    "x-availabilityStatus": "Stable"
                }
            },
            "title": "Link",
            "description": "Context specific link (only GET supported)"
        },
        "Pagination": {
            "type": "object",
            "title": "Pagination",
            "description": "Details of paginated response"
        },
        "Payment": {
            "type": "object",
            "required": [
                "_id",
                "amount",
                "creditor",
                "currency",
                "debtor",
                "payment_status"
            ],
            "properties": {
                "_id": {
                    "type": "string",
                    "description": "Unique payment identifier assigned for new payment.",
                    "x-availabilityStatus": "Stable"
                },
                "_links": {
                    "type": "array",
[...]
